@import url("components/paragraphe.css");
@import url("components/buttons.css");
@import url("components/cadre-circle.css");


h1{
	color:#FF2676;
	font-size: 60px;
	font-family: 'Lato', sans-serif;

}

h4 {

	color:green;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
}



.btn-red{
	width: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: 
}



body{
	background-color: #ACDFE8 !important; 
}



img{
	width:200px;
}


.network {width: 100px}
#paragraphe {
	font-weight: bolder;
}

.shadow {box-shadow: 10px 10px 10px 4px rgba(119, 119, 119, 0.75)}

.iconetwork {
	font-size: 50px;
	color:#FF2676;
	text-decoration: none;
}
#div2 {
	background-color: rgb(200,200,200);
	text-align: center;
	margin:100px;
	margin-left: 300px;
	margin-right: 300px;
	padding:10px;
	border: solid 5px #FF2676;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	font-weight: bold;
}

.wrapper {
	background-color: red ; 
}